@font-face {
    src: url("./HelveCursive.ttf");
    font-family: "GCursive";
    font-weight: normal;
}

:root {
    --dark-panel-bg: #303030;
    --light-panel-bg: #CCCCCC;

    --outline-color: white;

    --slide-anim-time: 235ms;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: white;

    font-family: sans-serif, all;

    outline: none;

    -webkit-tap-highlight-color: transparent;
}

html {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background: none;

    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    height: 100%;

    background: black;

    overflow-x: hidden;
    overflow-y: hidden;
}

p, pre, button {
    -webkit-user-select: none;
    cursor: default;

    font-size: 1.25rem;

    white-space: pre-wrap;
    word-wrap: break-word;
}

button {
    background: none;
    border: none;
    outline: none;
}

img {
    -webkit-user-select: none;
    -webkit-image-rendering: optimizeSpeed;
    -moz-image-rendering: optimizeSpeed;
    image-rendering: optimizeSpeed;

    pointer-events: none;
}

div {
    pointer-events: none;

    overflow-x: hidden;
    overflow-y: hidden;
}

button, input {
    pointer-events: initial;
}

#errbox {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.75rem;
    transform: translate(-50%, -50%);

    background: black;
    border: 1px solid red;
}

#errbox * {
    -webkit-user-select: none;
    cursor: default;
}

#errbox.visible {
    display: flex;
}

#s-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;

    z-index: 50;

    background: black;

    pointer-events: none;
    transition: opacity 400ms;
}

#s-cover.visible {
    opacity: 1;
    pointer-events: all;
}

#loadeen {
    margin: auto;
    color: white;

    z-index: 51;
    pointer-events: none;

    display: none;
    flex-flow: column nowrap;

    text-align: center;
}

#loadeen.visible {
    display: flex;
}

.loadeen-text {
    line-height: 1.5em;
}

#lt1 {
    font-size: 5vmin;
}

#lt2 {
    font-size: 3.25vmin;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
}

.splash-container {
    pointer-events: all;

    display: flex;
    flex-flow: column nowrap;

    width: 90%;
    height: 100%;

    margin: auto;

    text-align: center;
    outline: none;
    border: none;
    -webkit-user-select: none;
}

.disclaimer-large {
    font-size: 8vmin;
    padding-bottom: 4%;
}

.cursive {
    font-family: "GCursive", cursive, sans-serif, all;
}

.disclaimer-medium {
    font-size: 5vmin;
    padding-bottom: 4%;
}

.press-key {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.4vmin;
}

span.ochicken {
    color: darkorange;
}

#title-container {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    height: 100%;
}

#title-container::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../assets/titlescreen.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    filter: brightness(50%);
}

@keyframes bg-move {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 32px 32px;
    }
}

.ochicken-bg::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../assets/orangechicken.png");
    background-repeat: repeat;

    opacity: 0.5;

    animation: bg-move 850ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: linear;
}

div.ochicken-bg * {
    z-index: 2;
}

.mm-title, .mm-title span {
    padding-top: 1rem;
    z-index: 2;

    font-size: 9vmin;
    text-align: center;

    font-family: "GCursive", cursive, serif, all;
}

.mm-buttons-container {
    z-index: 2;

    margin: auto;

    display: flex;
    flex-flow: column nowrap;

    overflow-x: initial;
    overflow-y: initial;
}

.mm-button {
    position: relative;
    font-size: 5.2vmin;
    padding: 0.5rem;

    cursor: pointer;

    font-family: "GCursive", cursive, sans-serif, all;
}

.mm-button::after {
    content: '';

    position: absolute;

    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;

    background: white;

    transition-property: width, left;
    transition-duration: 200ms;
}

.mm-button:hover::after {
    left: 0;
    width: 100%;
}

/* title media queries */
@media (orientation: portrait) {
    /* make title text smaller */
    .mm-title, .mm-title span {
        font-size: 6vmin;
    }

    #title-container::before {
        background-position: 45% 15%;
        background-size: 200% 100%;
    }
}

/* lynns */
#lynns-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 100%;
    height: 90%;

    margin: auto;
}

#lynns-container, #lynns-container div {
    overflow-x: initial;
    overflow-y: initial;
}

#lynns-amount-header {
    text-align: center;
    font-size: 3.5vmin;

    margin-bottom: 1rem;
}

#lynns-main {
    width: 70%;
    height: 85%;

    display: flex;
    flex-flow: row wrap;
}

.lynns-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-items: center;

    background-image: url("../assets/journalynn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    animation-delay: 50ms;
}

@keyframes page-slide {
    from {
        transform: translateX(140%);
    }

    to {
        transform: translateX(0rem);
    }
}

@keyframes page-slide-left {
    from {
        transform: translateX(0rem);
    }

    to {
        transform: translateX(-140%);
    }
}

.lynns-page {
    animation-timing-function: linear;
}

.lynns-page.anim {
    animation: page-slide;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: var(--slide-anim-time);
}

.lynns-page.anim-left {
    animation: page-slide-left;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: var(--slide-anim-time);
}

.lynns-page.anim-reverse {
    animation: page-slide;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-duration: var(--slide-anim-time);
}

.lynns-page.anim-left-reverse {
    animation: page-slide-left;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-duration: var(--slide-anim-time);
}

.lynns-subpage {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 100%;
}

.lynn {
    width: 24%;
    height: 24%;

    margin: 1.5%;

    background: white;
    box-shadow: 0 0 0.5vmin 0.125vmin black;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.lynn.clickable, .lynn.clickable * {
    pointer-events: all;
    cursor: pointer;
}

.lynn-dot {
    position: relative;
    margin: 0;

    overflow-x: initial;
    overflow-y: initial;
}

.lynn-dot::after {
    content: '';

    position: absolute;
    top: -2px;
    left: 50%;

    width: 0.6vmin;
    height: 0.6vmin;

    background: #EEE;
    border: 0.1rem solid black;
    border-radius: 50%;

    transform: translateX(-50%);

    z-index: 14;
}

.lynn-img {
    width: 90%;
    height: 45%;
}

.locked {
    filter: brightness(0%) hue-rotate(180deg);
}

.lynn-text {
    color: black;
    font-size: 1.1vw;

    text-transform: capitalize;
}

#lynns-controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin-top: 2rem;
}

#lynn-page-text {
    padding: 0 0.5rem;
}

/* lynns queries */
@media (orientation: portrait) {
    .lynn {
        width: 12vmin;
        height: 10vmin;
    }

    #lynns-main {
        width: 95%;
        height: 50%;
    }
}

.back-button {
    position: absolute;

    top: 1rem;
    left: 1rem;

    transition: color 160ms;
}

.back-button:hover {
    color: red;
}

.control-button {
    color: white;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;

    cursor: pointer;

    background: var(--dark-panel-bg);
    font-size: 2rem;
}

#options-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    height: 100%;
}

.options-range-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    width: 18rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.options-button {
    cursor: pointer;

    font-size: 2rem;
}

.c-red {
    color: red;
}

#wipe-save-button {
    position: absolute;

    left: 50%;
    bottom: 1rem;

    transform: translateX(-50%);
}

/* chapter screen */
#chapter-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    margin: auto;
}

#ch-text {
    position: relative;
    font-size: 4.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.border-below { position: relative; }

#ch-text::after, .border-below::after {
    content: '';

    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background: white;

    transition: all 1.5s;
    transition-delay: 0.25s;
}

#ch-text.grow-border::after, .border-below::after {
    left: 0;
    width: 100%;
}

#ch-name {
    font-family: "GCursive", cursive, sans-serif, all;
    font-size: 2.5rem;

    text-transform: capitalize;
}

/* DIAG */
#dialog-scene {
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;

    width: 100%;
    height: 100%;

    background: none;
    background-repeat: no-repeat;
    background-size: cover;
}

#actors {
    margin: -0.5rem auto;
    width: 98%;

    display: block;

    overflow-x: initial;
    overflow-y: initial;
}

@keyframes pop-in-left {
    from {
        transform: translateX(-5rem);
        opacity: 0.3;
    }

    to {
        transform: translateX(0rem);
        opacity: 1;
    }
}

.actor {
    width: 38vmin;
    height: 38vmin;
    transition: transform 250ms;

    position: relative;

    overflow-x: initial;
    overflow-y: initial;
}

.actor-img {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 0 0.7rem;
    margin-bottom: 0;

    transition: transform 400ms;

    z-index: 5;

    overflow-x: initial;
    overflow-y: initial;
}

.actor-img.animated {
    animation: pop-in-left 310ms forwards;
    /*-webkit-animation-timing-function: cubic-bezier(0.8, 0.13, 0.83, 0.47);*/
}

.actor-img.anim-reverse {
    animation-direction: reverse;
}

.hflip {
    transform: scaleX(-1);
}

.magnified {
    transform: scale(115%, 115%);
}

.hflip.magnified {
    transform: scaleX(-1) scale(115%, 115%);
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.panel {
    background: var(--dark-panel-bg);
    box-shadow: 0 0.5vmin 0.5vmin 0.15vmin black;
}

#diag-container {
    position: relative;
    width: 95%;
    height: 24%;
    margin: 0 auto;
    margin-bottom: 1rem;

    background: var(--dark-panel-bg);

    overflow-x: initial;
    overflow-y: initial;

    z-index: 6;
}

#diag-name {
    -webkit-user-select: none;

    position: absolute;
    left: 1.5%;
    top: -28%;
    width: 14%;
    height: 23%;

    padding-top: 0.125%;

    opacity: 0.64;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-size: 1.65vw;

    background: inherit;

    z-index: 50;
}

#diag-name, #diag-name * {
    white-space: nowrap;
    overflow: hidden;
}

#diag {
    position: relative;
    display: flex;

    overflow-x: initial;
    overflow-y: initial;
}

#diag-text {
    -webkit-user-select: none;

    width: auto;
    position: relative;
    font-size: 2.7vmin;
    font-family: sans-serif;

    padding: 1.75vmin;
    padding-right: 1%;
    padding-bottom: 1%;

    overflow-x: initial;
    overflow-y: initial;
}

/* diag queries */
@media screen and (orientation: portrait) {
    #diag-name {
        width: 28%;
    }

    .actor {
        width: 27vmin;
        height: 27vmin;
    }
}

@keyframes bob-up-down {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(4px);
    }
}

#diag-text > span {
    position: relative;
}

#diag-text.full > span::after {
    content: '';

    position: absolute;
    right: -2vmin;
    bottom: 42%;
    width: 0;
    height: 0;

    /* triangle */
    border-left: 0.75vmin solid transparent;
    border-right: 0.75vmin solid transparent;

    border-top: 0.75vmin solid white;

    animation: bob-up-down 400ms;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@media screen and (orientation: portrait) {
    #diag-text.full > span::after{
        right: -2vmin;
        bottom: 35%;
    }
}

#diag-options {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    flex-flow: row nowrap;

    z-index: 13;

    overflow-x: initial;
    overflow-y: initial;
    pointer-events: all;
}

#diag-options > * {
    padding: 0.5rem;
    font-size: 2.25vmin;

    opacity: 0.65;
    cursor: pointer;

    pointer-events: all;
}

#diag-options > *:hover {
    opacity: 1;
}

#multi-box {
    position: absolute;
    left: 0;
    top: 40%;

    transform: translateX(-15vmin);

    margin-left: 2vmin;
    padding: 2vmin;
    padding-top: 3vmin;
    padding-bottom: 3vmin;

    background: var(--dark-panel-bg);

    pointer-events: initial;

    z-index: 7;

    overflow-x: initial;
    overflow-y: initial;
}

#multi-box * {
    font-size: 2.8vmin;
}

@keyframes multi-pop-in-left {
    from {
        transform: translateX(-8vmin);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

#multi-box.begin {
    animation: multi-pop-in-left 400ms;
    animation-fill-mode: forwards;
}

#multi-box.reverse-anim {
    animation: multi-pop-in-left 400ms;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

#multi-box pre {
    position: relative;

    min-width: 21vw;
    text-align: center;
    padding: 1.5vmin 12.5vmin;
    cursor: pointer;

    --scale: 105%;
}

#multi-box pre:hover, #multi-box pre.selected {
    background: darkorange;
}

#multi-box pre:hover::before, #multi-box pre:hover::after, #multi-box pre.selected::before, #multi-box pre.selected::after {
    content: '';

    display: inline-block;

    position: absolute;

    width: 9vmin;
    height: 4.5vmin;

    background-image: url("../assets/menupointer.png");
    background-size: cover;
}

@keyframes sausage-finger-move-left {
    from {
        transform: translateX(1.5vmin) scale(var(--scale));
    }

    to {
        transform: translateX(0px) scale(var(--scale));
    }
}

@keyframes sausage-finger-move-right {
    from {
        transform: translateX(-1.5vmin) scale(calc(var(--scale) * -1), var(--scale));
    }

    to {
        transform: translateX(0px) scale(calc(var(--scale) * -1), var(--scale));
    }
}

#multi-box pre:hover::before, #multi-box pre.selected::before, #multi-box pre:hover::after, #multi-box pre.selected::after {
    top: 15%;
    left: 0;

    animation: sausage-finger-move-left 400ms;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

#multi-box pre:hover::after, #multi-box pre.selected::after {
    left: unset;
    right: 0;
    animation-name: sausage-finger-move-right;
}

@keyframes lynn-popdown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10rem);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0rem);
    }
}

#lynn-pop-container {
    position: absolute;

    top: 0;
    left: 50%;
    width: 50%;
    height: 10vmin;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;

    z-index: 9;

    overflow-x: initial;
    overflow-y: initial;
}

.lynn-pop {
    transform: translateX(-50%) translateY(-100rem);

    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2vmin;
    margin: 2vmin auto 1vmin auto;

    background: var(--dark-panel-bg);

    overflow-x: initial;
    overflow-y: initial;
}

.lynn-pop.anim {
    animation: lynn-popdown 400ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.lynn-pop.anim-reverse {
    animation: lynn-popdown 400ms;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.lynn-pop-text {
    font-size: 1.5vw !important;
}

.dom-counter, #saveens {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 15%;
    height: 5%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    overflow-x: initial;
    overflow-y: initial;

    z-index: 19;
}

.dom-counter pre, #saveens pre {
    padding: 1.25vmin 2vmin 1vmin 1vmin;

    font-size: 5vmin;
}

.dom-counter span, #saveens span {
    color: green;
}
/* END DIAG */

@keyframes pop-in-canvas {
    from {
        transform: scale(0%);
        opacity: 0;
    }

    to {
        transform: scale(100%);
        opacity: 1;
    }
}

.canvas-container {
    display: none;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    z-index: 12;
}

.canvas-container.visible {
    display: block;

    animation: pop-in-canvas 0ms;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

#mookbong-canvas-container {
    padding: 1rem;
    background: gray;
}

.mg-canvas {
    image-rendering: pixelated;
    pointer-events: all;
}

#mookbong-canvas {
    width: 100%;
    height: calc(100% - 6rem);
}

#books-canvas {
    width: 100%;
    height: 100%;
}

#phone-canvas-container {
    width: 100%;
    height: 100%;

    display: flex;

    border: 1px solid black;
}

#phone-canvas-container.visible > #phone-canvas {
    width: 36vw;
    height: 80vh;

    margin: auto;

    background: white;
}

.mg-image {
    width: 100%;
    height: 6rem;
    background-color: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.gg {
    background-image: url("../assets/gamegorl.png");
}

@keyframes fade-down {
    from {
        transform: translateY(-1vmin);
        opacity: 1;
    }

    to {
        transform: translateY(8vmin);
        opacity: 0;
    }
}

.money-change {
    opacity: 1;
    position: absolute;

    animation: fade-down 700ms;
    animation-fill-mode: forwards;
    animation-direction: normal;

    z-index: 49;

    font-size: 5vmin;
}

.iq-score {
    top: 3.5rem;
}

.iq-score pre {
    color: lightblue;
    font-size: 1.5rem;
}

@media screen and (orientation: portrait) {
    #saveens {
        width: 30%;
    }
}