@font-face {
    src: url("./HelveCursive.ttf");
    font-family: "GCursive";
    font-weight: normal;
}

:root {
    --dark-panel-bg: #303030;
    --light-panel-bg: #CCCCCC;

    --outline-color: white;

    --slide-anim-time: 235ms;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: white;

    font-family: sans-serif, all;
}

html {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background: blue;
}

body {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    height: 100%;

    background: black;

    overflow: hidden;
}

p, pre, button {
    -webkit-user-select: none;
    cursor: default;

    font-size: 1.25rem;

    white-space: pre-wrap;
    word-wrap: break-word;
}

button {
    background: none;
    border: none;
    outline: none;
}

img {
    -webkit-user-select: none;
    -webkit-image-rendering: optimizeSpeed;
    -moz-image-rendering: optimizeSpeed;
    image-rendering: optimizeSpeed;

    pointer-events: none;
}

div {
    pointer-events: none;
}

button, input {
    pointer-events: initial;
}

#errbox {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.75rem;
    transform: translate(-50%, -50%);

    background: black;
    border: 1px solid red;
}

#errbox * {
    -webkit-user-select: none;
    cursor: default;
}

#errbox.visible {
    display: flex;
}

#s-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;

    z-index: 999;

    background: black;

    pointer-events: none;
    transition: opacity 400ms;
}

#s-cover.visible {
    opacity: 1;
    pointer-events: all;
}

#loadeen {
    margin: auto;
    font-size: 2rem;
    color: white;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
}

.splash-container {
    pointer-events: all;

    display: flex;
    flex-flow: column nowrap;

    width: 90%;
    height: 100%;

    margin: auto;

    text-align: center;
    outline: none;
    border: none;
    -webkit-user-select: none;
}

.disclaimer-large {
    font-size: 4rem;
    padding-bottom: 6rem;
}

.cursive {
    font-family: "GCursive", cursive, sans-serif, all;
}

.disclaimer-medium {
    font-size: 2.5rem;
    padding-bottom: 6rem;
}

.press-key {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
}

span.ochicken {
    color: darkorange;
}

#title-container {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    height: 100%;
}

#title-container::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../assets/titlescreen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%);
}

@keyframes bg-move {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 32px 32px;
    }
}

.ochicken-bg::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../assets/orangechicken.png");
    background-repeat: repeat;
    background-color: #111;

    opacity: 0.35;

    animation: bg-move 850ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: linear;
}

div.ochicken-bg * {
    z-index: 2;
}

.mm-title, .mm-title span {
    padding-top: 1rem;
    z-index: 2;

    font-size: 4rem;
    text-align: center;

    font-family: "GCursive", cursive, serif, all;
}

.mm-buttons-container {
    z-index: 2;

    margin: auto;

    display: flex;
    flex-flow: column nowrap;
}

.mm-button {
    position: relative;
    font-size: 2.25rem;
    padding: 0.5rem;

    cursor: pointer;

    font-family: "GCursive", cursive, sans-serif, all;
}

.mm-button::after {
    content: '';

    position: absolute;

    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;

    background: white;

    transition-property: width, left;
    transition-duration: 200ms;
}

.mm-button:hover::after {
    left: 0;
    width: 100%;
}

/* lynns */
#lynns-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 100%;
    height: 90%;

    margin: auto;
}

#lynns-amount-header {
    text-align: center;
    font-size: 1.7rem;

    margin-bottom: 1rem;
}

#lynns-main {
    width: 60%;
    height: 80%;

    display: flex;
    flex-flow: row wrap;
}

.lynns-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-items: center;

    background-image: url("../assets/journalynn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    animation-delay: 50ms;
}

@keyframes page-slide {
    from {
        transform: translateX(140%);
    }

    to {
        transform: translateX(0rem);
    }
}

@keyframes page-slide-left {
    from {
        transform: translateX(0rem);
    }

    to {
        transform: translateX(-140%);
    }
}

.lynns-page {
    animation-timing-function: linear;
}

.lynns-page.anim {
    animation: page-slide;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: var(--slide-anim-time);
}

.lynns-page.anim-left {
    animation: page-slide-left;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: var(--slide-anim-time);
}

.lynns-page.anim-reverse {
    animation: page-slide;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-duration: var(--slide-anim-time);
}

.lynns-page.anim-left-reverse {
    animation: page-slide-left;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-duration: var(--slide-anim-time);
}

.lynns-subpage {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 100%;
}

.lynn {
    width: 25%;
    height: 8rem;

    margin: 0.5rem;

    background: white;
    box-shadow: 0 0 2px 1px black;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.lynn.clickable, .lynn.clickable * {
    pointer-events: all;
    cursor: pointer;
}

.lynn-dot {
    position: relative;
    margin: 0 auto;
}

.lynn-dot::after {
    content: '';

    position: absolute;
    top: -6px;
    left: 50%;

    width: 0.3rem;
    height: 0.3rem;

    background: #EEE;
    border: 0.1rem solid black;
    border-radius: 50%;

    transform: translateX(-50%);
}

.lynn-img {
    width: 90%;
    height: 4rem;
}

.locked {
    filter: brightness(0%) hue-rotate(180deg);
}

.lynn-text {
    color: black;
    font-size: 1rem;

    text-transform: capitalize;
}

#lynns-controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin-top: 2rem;
}

#lynn-page-text {
    padding: 0 0.5rem;
}

.back-button {
    position: absolute;

    top: 1rem;
    left: 1rem;

    transition: color 160ms;
}

.back-button:hover {
    color: red;
}

.control-button {
    color: white;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;

    cursor: pointer;

    background: var(--dark-panel-bg);
    font-size: 2rem;
}

#options-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    height: 100%;
}

.options-range-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    width: 18rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.options-button {
    cursor: pointer;

    font-size: 2rem;
}

.c-red {
    color: red;
}

#wipe-save-button {
    position: absolute;

    left: 50%;
    bottom: 1rem;

    transform: translateX(-50%);
}

/* chapter screen */
#chapter-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    margin: auto;
}

#ch-text {
    position: relative;
    font-size: 4.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.border-below { position: relative; }

#ch-text::after, .border-below::after {
    content: '';

    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background: white;

    transition: all 1.5s;
    transition-delay: 0.25s;
}

#ch-text.grow-border::after, .border-below::after {
    left: 0;
    width: 100%;
}

#ch-name {
    font-family: "GCursive", cursive, sans-serif, all;
    font-size: 2.5rem;

    text-transform: capitalize;
}

#dialog-scene {
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;

    width: 100%;
    height: 100%;

    background: none;
    background-repeat: no-repeat;
    background-size: cover;
}

#actors {
    margin: -0.5rem auto;
    width: 98%;

    display: block;
}

@keyframes pop-in-left {
    from {
        transform: translateX(-5rem);
        opacity: 0.3;
    }

    to {
        transform: translateX(0rem);
        opacity: 1;
    }
}

.actor {
    transition: transform 250ms;
}

.actor-img {
    width: 17.5rem;
    height: 17.5rem;

    padding: 0 0.7rem;
    margin-bottom: 0;

    transition: transform 400ms;
}

.actor-img.animated {
    animation: pop-in-left 400ms forwards;
    /*-webkit-animation-timing-function: cubic-bezier(0.8, 0.13, 0.83, 0.47);*/
}

.actor-img.anim-reverse {
    animation-direction: reverse;
}

.hflip {
    transform: scaleX(-1);
}

.magnified {
    transform: scale(115%, 115%);
}

.hflip.magnified {
    transform: scaleX(-1) scale(115%, 115%);
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

#diag-container {
    position: relative;
    width: 95%;
    height: 10rem;
    margin: 0 auto;
    margin-bottom: 1rem;

    background: var(--dark-panel-bg);
}

#diag-name {
    -webkit-user-select: none;

    position: absolute;
    left: 1rem;
    top: -3rem;
    width: 10rem;
    height: 2.75rem;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-size: 1.5vw;

    background: inherit;
}

.panel {
    background: var(--dark-panel-bg);
    box-shadow: 0 3px 3px 1px black;
}

#diag {
    position: relative;
    display: flex;
}

#diag-text {
    -webkit-user-select: none;

    width: auto;
    position: relative;
    font-size: 1.3vw;
    font-family: sans-serif;

    padding: 0.7rem;
}

@keyframes bob-up-down {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(4px);
    }
}

#diag-text.full::after {
    content: '';

    position: absolute;
    right: -2px;
    bottom: 40%;
    width: 0;
    height: 0;

    /* triangle */
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid white;

    animation: bob-up-down 400ms;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#diag-options {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    flex-flow: row nowrap;
}

#diag-options > * {
    padding: 0.5rem;
    font-size: 1rem;

    opacity: 0.65;
    cursor: pointer;
}

#diag-options > *:hover {
    opacity: 1;
}

#multi-box {
    position: absolute;
    left: 0;
    top: 45%;

    transform: translateX(-10rem);

    margin-left: 1rem;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    background: var(--dark-panel-bg);

    pointer-events: initial;
}

@keyframes multi-pop-in-left {
    from {
        transform: translateX(-5rem);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

#multi-box.begin {
    animation: multi-pop-in-left 400ms;
    animation-fill-mode: forwards;
}

#multi-box.reverse-anim {
    animation: multi-pop-in-left 400ms;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

#multi-box pre {
    position: relative;

    min-width: 20rem;
    text-align: center;
    padding: 0.25rem 4rem;
    cursor: pointer;
}

#multi-box pre:hover, #multi-box pre.selected {
    background: darkorange;
}

#multi-box pre:hover::before, #multi-box pre:hover::after, #multi-box pre.selected::before, #multi-box pre.selected::after {
    content: '';

    position: absolute;

    width: 3rem;
    height: 1.6rem;

    background-image: url("../assets/menupointer.png");
    background-size: cover;
}

@keyframes sausage-finger-move-left {
    from {
        transform: translateX(0.6rem);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes sausage-finger-move-right {
    from {
        transform: translateX(-0.6rem) scaleX(-1);
    }

    to {
        transform: translateX(0px) scaleX(-1);
    }
}

#multi-box pre:hover::before, #multi-box pre.selected::before {
    top: 10%;
    left: 0;

    animation: sausage-finger-move-left 400ms;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

#multi-box pre:hover::after, #multi-box pre.selected::after {
    top: 10%;
    right: 0;

    animation: sausage-finger-move-right 400ms;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes lynn-popdown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10rem);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0rem);
    }
}

#lynn-pop-container {
    position: absolute;

    top: 0;
    left: 50%;
    width: 65%;
    height: 4rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;

    z-index: 5;
}

.lynn-pop {
    transform: translateX(-50%) translateY(-100rem);

    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 1rem auto 0.5rem auto;

    background: var(--dark-panel-bg);
}

.lynn-pop.anim {
    animation: lynn-popdown 400ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.lynn-pop.anim-reverse {
    animation: lynn-popdown 400ms;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.dom-counter, #saveens {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 15rem;
    height: 2.5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    z-index: 5;
}

.dom-counter pre, #saveens pre {
    padding: 0 0.7rem;

    font-size: 2rem;
}

.dom-counter span, #saveens span {
    color: green;
}

@keyframes pop-in-canvas {
    from {
        transform: scale(0%);
        opacity: 0;
    }

    to {
        transform: scale(100%);
        opacity: 1;
    }
}

.canvas-container {
    display: none;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
}

.canvas-container.visible {
    display: block;

    animation: pop-in-canvas 300ms;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

#mookbong-canvas-container {
    padding: 1rem;
    background: gray;
}

.mg-canvas {
    image-rendering: pixelated;
    pointer-events: all;
}

#mookbong-canvas {
    width: 100%;
    height: calc(100% - 6rem);
}

#books-canvas {
    width: 100%;
    height: 100%;
}

#phone-canvas {
    width: 50%;
    height: 85%;
}

.mg-image {
    width: 100%;
    height: 6rem;
    background-color: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.gg {
    background-image: url("../assets/gamegorl.png");
}

@keyframes fade-down {
    from {
        transform: translateY(0rem);
        opacity: 1;
    }

    to {
        transform: translateY(3rem);
        opacity: 0;
    }
}

.money-change {
    position: absolute;

    animation: fade-down 700ms;
    animation-fill-mode: forwards;
    animation-direction: normal;

    z-index: 3;

    font-size: 1.8rem;
}

.iq-score {
    top: 3.5rem;
}

.iq-score pre {
    color: lightblue;
    font-size: 1.5rem;
}